@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

/* navbar start */

nav a{
    color: #fff !important;
}
a:hover{
    color: blueviolet !important;
}

.navbar-toggler-icon{
    background-image: url("/images/hamburger-menu-64.png");
}
/* navbar end */

.body {
    background: rgba(0, 0, 0);
    overflow-y: hidden;
}


/* navbar */

nav a {
    color: #fff !important;
}

a:hover {
    color: blueviolet !important;
}

.navbar-toggler-icon {
    background-image: url("/images/hamburger-menu-64.png");
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(175, 171, 171);
    
}



.containner {
    width: 80%;
    display: block;
    margin: auto;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;

}

.image-section img {
    width: 100%;
    height: auto;


}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
}

.content-section .content p{
    margin: top 10px;
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.5;

}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #8e7171;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.content-section .social {
    margin: 40px 40px;
}

.content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #3d3d3d;
}

@media screen and (min-width:10px) {
    .containner {
        width: 80%;
        display: block;
        margin: auto;
        padding-top:50px;
    }
    .content-section{
        float:none;
        width: 100%;
        display:block;
        margin: auto;
        
    }
    
    .content-section .title {
        text-align: center;
        font-size:19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a {
        padding:9px 30px;
    }
    .content-section .social{
    text-align: center;
    }
}